/* Input container */
.input-container {
  position: relative;
  margin: 20px;

  &>form {

    &>div {
      display: grid;
      grid-template-columns: auto auto;
      gap: 20px;
    }
  }
}

/* Input field */
.input-field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background-color: transparent;
}

/* Input label */
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: gray;
  pointer-events: none;
  transition: all 0.3s ease;
  z-index: 1;
}

/* Input highlight */
.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #aa8453;
  transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus+.input-label {
  top: -20px;
  font-size: 12px;
  color: #aa8453;
}

.input-field:focus+.input-label+.input-highlight {
  width: 100%;
}

.send-btn {
  line-height: 1.2em;
  font-weight: 400;
  background-color: #aa8453;
  color: #fff;
  padding: 13px 22px;
  margin: 0;
  position: relative;
  font-size: 15px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.input-wrapper {
  position: relative;
  margin-bottom: 20px;
  width: 100% !important;

}

textarea {
  width: 200px !important;
}


#input-field2 {
  padding: 0; 
}

@media(max-width: 576px) {
  /* Input container */
.input-container {
  position: relative;
  margin: 20px;

  &>form {

    &>div {
      display: grid;
      grid-template-columns: auto;
      gap: 20px;
    }
  }
}
}