.Departments_main {
    width: 100%;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;

    .Departments_Image {
        width: 50%;
        height: 100%;

        &>img {
            width: 100%;
            height: 100%;
        }
    }

    .Departments_About {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        &>div {
            width: 90%;
            height: auto;

            &>h3 {
                font-weight: 100;
                color: rgb(104, 102, 102);
            }

            &>h1 {
                margin-top: 12px;
                font-weight: 310;
                color: black;
            }

            &>p {
                margin-top: 14px;
                font-weight: 310;
                color: #666;
            }


            .cta {
                position: relative;
                margin: auto;
                padding: 12px 18px;
                transition: all 0.2s ease;
                border: none;
                background: none;
                margin-top: 16px;
            }

            .cta:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                border-radius: 50px;
                background: #aa8453;
                width: 45px;
                height: 45px;
                transition: all 0.3s ease;
            }

            .cta span {
                position: relative;
                font-family: "Ubuntu", sans-serif;
                font-size: 18px;
                font-weight: 700;
                letter-spacing: 0.05em;
                color: #234567;
            }

            .cta svg {
                position: relative;
                top: 0;
                margin-left: 10px;
                fill: none;
                stroke-linecap: round;
                stroke-linejoin: round;
                stroke: #234567;
                stroke-width: 2;
                transform: translateX(-5px);
                transition: all 0.3s ease;
            }

            .cta:hover:before {
                width: 100%;
                background: #aa8453;
            }

            .cta:hover svg {
                transform: translateX(0);
            }

            .cta:active {
                transform: scale(0.95);
            }
        }
    }
}



@media(max-width: 576px) {
    // .Departments_main {
    //     display: grid;
    //     grid-template-columns: auto;
    // }

    #responsiveImageDepar {
        &>img {
            object-fit: cover;
        }
    }

}