.HotelDepartments_main {
    background-color: #ffffff;
    width: 100%;
    min-height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;

    &>div {
        margin-top: 80px;
        margin-bottom: 80px;
        width: 1150px;
        height: 100%;
        background-color: #f8f5f0;
        display: grid;
        grid-template-columns: auto;
    }
}